*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    line-height: 23px;
}
/*Encabezado principal*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
    padding: 15px;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    font-weight: 700;
}
#img-main{
    background-image: url(../assets/encabezado.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}
main{
    background-color: #542437;
}
main div{
    display: flex;
    justify-content: center;
    align-items: flex-end;


}
#boton-main{
        cursor:pointer;
        color: white;
        font-size: 22px;
        font-weight: bold;
        background-color: #C02942;
        border-radius: 40px;
        width:170px;
        height: 50px;
        border: none;
        padding: 15px;
        box-shadow: 4px 4px 16px rgb(75, 75, 75);
        margin-bottom: 155px;
    
    }
#boton-main:hover{
    opacity: 0.9;
    
}

.descripcion{
    margin-left: 50px;
    width: 50%;
    padding: 15px;
    color: white;
}
/*sobre nosotros*/
.about-us{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    background-image: url(../assets/featured-bg2.png);
    background-repeat: no-repeat;
    background-color: #542437;
    color: white;}

#txt-aboutus{
    width: 45%;
    
}
#subtitle{
    margin-bottom: 20px;
    font-weight: bold;
}

#title{
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    font-weight: 400;
    margin-bottom:40px;
}

.img-aboutus{
    border-radius: 50px;
    width: 33%;
    height: auto;
    box-shadow: 8px 4px 20px black;
}
/*nuestros juegos*/

.games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #542437;
    color: white;
    height: 200px;
}

#games-cards{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../assets/fondo.png);
    background-repeat: no-repeat;
    background-position-y:bottom;
    background-color: #C02942;
    color: black; 
    padding: 30px;
    justify-content: space-around;
    
}

.card{
    background-color: white;
    display:flex ;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 25px;
    width: 23%;
    height:auto;
    box-shadow: 4px 4px 26px rgb(61, 60, 60);
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.card p {
    font-size: 14px;
    line-height: 16px;
}

h4{
    font-family: 'Amatic SC', cursive;
    font-weight:700;
    font-size: 24px;
}



.img-card{
    width: 50%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;


}
.img-card-horizontal{
    width: 70%;
    height: auto;

}

/*newsletter*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position-y: top;
}
#txt-footer{
    font-size:65px;
    margin-bottom: 35px;
}
form{
    display: flex;
    margin: 10px;
}
.email{
    font-size: 22px;
    border-radius: 4px;
    width: 100%;
    border: none;
    height: auto;
    padding: 10px;
    box-shadow: 4px 4px 16px rgb(61, 60, 60);
}

.boton{
    cursor: pointer;
    color: white;
    font-size: 22px;
    font-weight: bold;
    background-color: #C02942;
    border-radius: 40px;
    width:80px;
    border: none;
    padding: 12px;
    margin-left: 10px;
    box-shadow: 4px 4px 16px rgb(61, 60, 60);
    
}
.boton:hover{
        opacity: 0.9;
        
}